body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden !important;
}

header {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FEE5AB;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-left: 50px;
}

#top-nav {
    float: right;
    margin-right: 50px;
    text-align: right;
    width: 80%;
}

#top-nav ul li {
    list-style: none;
    display: inline-block;
}

#top-nav ul li a {
    text-decoration: none;
    color: #BA9B5F;
    background-color: #FAEECF;
    padding: 10px 30px;
    border-color: #BA9B5F;
    border-style: solid;
    border-width: 1px;
}

#top-nav ul li a:hover {
    color: #ffffff;
    border-color: #000000;
    background-color: green;
}

.mobile_menu_icon, .clear_header {
    display: none;
}

.mobile_menu_drawer {
    width: 0%;
    overflow: hidden;
    height: 100vh;
    transition: width 1s;
}

.mobile_menu_drawer ul {
    display: none;
}

#main-container {
    max-width: 1440px;
    margin: 0 auto;
}

#sandy-box {
    background-color: #DEC692;
    padding: 50px;
    height: 340px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#sandy-box-text-container {
    width: 30%;
    padding: 10px;
}

#sandy-box-text-container h3 {
    margin: 0;
    padding-bottom: 20px;
}

#sandy-box-text-container p {
    padding-bottom: 50px;
}

.header_buttons {
    background-color: green;
    padding: 10px;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

.header_buttons:hover {
    background-color: goldenrod;
}

#sandy-box-image-holder {
    width: 60%;
}

#image-holder img {
    border-width: 5px;
    border-style: solid;
    color: white;
}

#grey-box {
    background-color: #D8D7D7;
    height: 370px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.box {
    width: 33%; 
    padding: 10px;
    text-align: center;
}

.box img {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

.box p {
    text-align: center; 
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.box_buttons {
    background-color: green;
    padding: 10px;
    width: 150px;
    margin: 0 auto;
    font-size: 17px;
    display: block;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
}

.box_buttons:hover {
    background-color: goldenrod;
}

.footer {
    background-color: #6D6D6D;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.footer_box {
    width: 30%;
}

.footer_box h3 {
    color: white;
}

.footer_box #place-holder {
    color: lightgrey;
}

p span {
    color: white;
}

.social_media_links {
    list-style-type: none;
    display: block;    
    width: 80%;
    padding: 0;
}

.social_media_links li {
    display: inline;
}

.social_media_links i {
    font-size: 200%;
    margin: 5px;
    padding: 5% 5% 5% 4%;
    color: #D6CFCA;
}

.social_media_links i:hover {
    color: #EEECEA;
}


#thoughts #place-holder {
    width: 100%;
    margin-left: 0px; 
}

#thoughts input {
    height: 32px;
}

#thoughts input::placeholder {
    padding: 5px;
}

#thoughts a {
    padding: 10px 20px;
    display: initial;
}

#thoughts #footer_copy {
    color: lightgrey;
    font-size: 13px;
    margin-top: 45px;
}

@media screen and (max-width: 1050px) {

    header {
        display: block;
        height: 170px;
    }

    .logo_container {
        width: 281px;
        margin: 0 auto;
        display: block;
    }

    #logo {
        margin: 0;
    }

    #top-nav {
        width: 100%;
        float: none;
        text-align: center;
    }

    #sandy-box {
        display: block;
        height: 640px;
    }

    #sandy-box-text-container {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 65%;
    }

    #sandy-box-image-holder {
        width: 100%;
        text-align: center;
    }

    .box {
        padding: 0;
        width: 31%;
        overflow: hidden;
    }

    .box img {
        width: 98%;
    }
}

@media screen and (max-width: 865px) {
    .footer_box {
        width: 32%;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        height: 650px;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .footer_box {
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px #ffffff solid;
    }

    .footer_box:last-of-type {
        border-bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    #top-nav, .logo_container {
        display: none;
    }

    header {
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: fixed;
    }

    .clear_header {
        display: block;
        height: 70px;
    }

    .mobile_menu_icon {
        display: block;
        margin-right: 10px;
        cursor: pointer;
    }

    .mobile_menu_icon i {
        font-size: 2em;
    }

    .showMenu {
        width: 100%;
    }

    .showMenu ul {
        display: block;
    }
}