body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}

#logo {
    margin-left: 150px;
}

#top-nav {
   background-color: #FEE5AB;
    width: 100%;
    height: 120px;
    margin-top: -125px;
}

#top-nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    left: 500px;
    top: 50px;
}

#top-nav ul li a{
   margin-left: -4px; 
    text-decoration: none;
    color: #BA9B5F;
    background-color: #FAEECF;
    padding: 10px 30px 10px 30px;
    border-color: ##BA9B5F;
    border-style: solid;
    border-width: 1px;
}

#top-nav ul li a:hover {
    color: black;
    font-weight: 900;
}

#sandy-box {
    background-color: #DEC692;
    margin-top: 0px;
    padding-top: 10px;
    height: 400px;
}

#inside-sandy-box {
    width: 20%;
    margin-left: 150px;
    
}

#tour {
   background-color: green;
    padding: 10px;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#register {
   background-color: green;
    padding: 10px;
    color: white;
    width: 100px;
    text-align: center;
    font-size: 17px;
    margin-top: -70px;
    margin-left: 130px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}


#image-holder {
    margin-left: 527px;
    margin-top: -325px;
}


#image-holder img {
    border-width: 5px;
    border-style: solid;
    color: white;
}

#grey-box {
    background-color: #D8D7D7;
    height: 370px;
    padding-top: 30px;
}

#box {
   width: 17%; 
    margin-top: 0px;
    margin-left: 130px;
}

#box img {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

#box p {
   text-align: center; 
    width: 250px;
    margin-left: 12px;
}

#box h5 {
    background-color: green;
    padding: 10px;
    width: 150px;
    font-size: 17px;
    margin-left: 55px;
    text-align: center;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#box2 {
   width: 17%; 
    margin-top: -379px;
    margin-left: 500px;
}

#box2 img {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

#box2 p {
    text-align: center;
    width: 250px;
    margin-left: 12px;
}

#box2 h5 {
   background-color: green;
    padding: 10px;
    width: 150px;
    font-size: 17px; 
    margin-left: 55px;
    text-align: center;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

#box3 {
   width: 17%; 
    margin-top: -380px;
    margin-left: 870px;
}

#box3 img {
    border-width: 2px;
    border-style: solid;
    border-color: white;
}

#box3 p {
    text-align: center;
    width: 250px;
    margin-left: 12px;
}

#box3 h5 {
   background-color: green;
    padding: 10px;
    width: 150px;
    font-size: 17px; 
    margin-left: 55px;
    text-align: center;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    
}

#box h5:hover {
    background-color: goldenrod;
}

#box2 h5:hover {
    background-color: goldenrod;
}

#box3 h5:hover {
    
    background-color: goldenrod;
}

#dark-grey-box {
    background-color: #6D6D6D;
    width: 100%;
    height: 300px;
    padding-top: 1px;
}

#contact-details {
    width: 25%;
    margin-left: 100px;
}

#contact-details h3 {
    color: white;
}

#contact-details #place-holder {
    color: lightgrey;
}

p span {
    color: white;
}

#social-media {
    width: 25%;
    margin-left: 500px;
    margin-top: -235px;
}

#social-media h3 {
    color: white;
    
}

#social-media #place-holder {
    color: lightgrey;
    width: 100%;
    margin-left: 1px;
}

.social {
    list-style-type: none;
    text-align: center;
    position: relative;
    left: 40px;
    top: 33px;
    display: inline-block;    
    width: 50%;
}

.social li {
    display: inline;
}

.social i {
    font-size: 200%;
    margin: 5px;
    padding: 5% 5% 5% 4%;
    color: #D6CFCA;
}

.social i:hover {
    color: #EEECEA;
}

#thoughts {
    width: 25%;
    margin-left: 890px;
    margin-top: -236px;
}

#thoughts h3 {
    color: white;
    
}

#thoughts #place-holder {
   color: lightgrey;
    width: 100%;
    margin-left: 0px; 
}

#thoughts button {
    margin-left: 125px
}

#thoughts #footer {
    color: lightgrey;
    font-size: 13px;
    margin-top: 45px;
}


